.user_comments_list_header{
background-color: #ddd;
padding:10px;
margin-bottom:5px;
}
.comments{
width:300px;
 overflow:hidden;
}
.posts{
width:350px;
 overflow:hidden;
}

.user_info{
 width:180px;
}