h1, h4, form, button{border:0; margin:0; padding:0;}
a               {text-decoration: none;color:#000}
a:hover         {color:#FA7898;}
ul,ol             {padding:0px 0px 0px 0px; list-style:none;}
.l                {float:left; }
.r                {float:right;}
.small {font-size:70%}

html, body {
    margin: 0 ;
   height: 100%;
   background: #ffffff;
    color: #333;
    font: 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;

}

.devise_error{
        width: 50%;
        margin-left: 150px;
}
.info{
     padding:10px;
      background-color: #fff;
      color: #333;
      float:left;
      width: 880px;

}
.info img{
float:left;
}
#countries_index_list{
    display:none;
    float:left;
background: #F79E0F;
padding:20px;
width: 490px;
height:500px;
margin: 0 10px 0 10px;
}
#countries_index_list a{
color:#333;
}
#countries_index_list a:hover{
color:#000000;
}
.country_list_at_index ul{
   width:550px;
  margin:0;
  overflow:hidden;

}
.country_list_at_index li{
  line-height:1.5em;
  float:left;
  display:inline;
  width:33%;
}
.instructions{
font: 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
.comment_edit_form{
display:none;
}
.info a{
  color: #333;
}
.info a:hover{
  color: #FA7898;
}
.search{
    padding:10px 0 0 20px;
    width:880px;
    height:40px;
    background-color: #fff;

}
.search #search{
    float:left;

    height:25px;
    font-size: 15px;
}
#user_image{
  padding:10px 0 20px 10px;
}
#global_header.global_header_normal {
padding:20px;
background-color: #008521;
height: 60px;
width: 100%;
font-size: 8.5pt;
font-weight: bold;
color: #ddd;
}
#global_header a               {text-decoration: none;color:#fff}
#global_header a:hover         {color:#FA7898;}
#container  {
   overflow:hidden;
  width:1200px;
 min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}
.push{
margin-top: -100px; /* negative value of footer height */
	height: 130px; }
#footer,{
    margin:  -100px 100px 0 100px;
    position: relative;
    padding :20px 0 0 20px;
	height: 120px;
	clear:both;

}
#map_container {
  float:left;
  width: 550px;
  height: 560px;

}
#about_pen{
  float:left;
  width: 300px;
}
#about_country{
  float:left;
  width: 300px;
  height:550px;
  display:block;
  overflow:hidden;
}
#header{
  float:left;
  width:1200px;
  height: 100px;
  display:block;
  text-align:center;
}
#header p{
 cursor: pointer;
}
#view_map{
display:none;
}
.login_sign_in{
  position:absolute;
  top: 0px; 
  right: 100px;
  z-index:10;
}
.login, #signin, .logged_in{
  cursor: pointer;
 display:block;
 
  position:relative;
  padding: 15px;
  float:left;
  
  z-index:11;
}
.login_show{
  margin:6px;
  padding: 7px;
  color:#666666;
  padding-bottom: 10px;
  background:#ebf4fb;
  border:solid 2px #b7ddf2;
  border-bottom:0px;
}
#login_form{
  display:none;
  position:absolute;
  top: 37px; 
  right: 73px;
font-size:12px;
 
  color: #333;
}
h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */


#list_table_public{
 width:100%;
}
#list_table_public th{
 text-align: left;
}
#list_table_public td{
vertical-align: top;
}
#list_table_public td#lang_comment{
 width:66%;
}

.signinform{
  float:left;
   margin-left:175px;
  width:800px;
  padding:14px;
  color: #333;
}
.signform_fields{
  width:500px;
  
}
/* ----------- stylized ----------- */
.one_coloumn input[type=text] {

width:700px;
float:left;
height:31px;
font-size:16px;
padding:4px 2px;
border:solid 1px #aacfe4;

}
.one_coloumn label{
  line-height:45px;
  font-size: 20px;
}
.one_coloumn textarea {
 font-size:16px;
padding:4px 2px;

height:500px;
border:solid 1px #aacfe4;

}
.one_coloumn select{
  height:31px;
  font-size:16px;
padding:4px 2px;
border:solid 1px #aacfe4;
}
.one_coloumn button{
clear:both;
border:solid 1px #aacfe4;
margin-top: 20px;
width:125px;
height:31px;
background:#666666;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
cursor: pointer;
}
.one_coloumn button:hover{

border:solid 1px #aacfe4;

background:#888;

}
button:hover{

border:solid 1px #aacfe4;

background:#888;

}
#error_explanation{
background: #FFB0C4;

padding: 5px;
border: 1px solid #aacfe4;
}

@import "public_user";
@import "form";
@import "authors";
@import "languages";
@import "works";
@import "comments";
@import "posts";
@import "vote";
@import "tabs";
@import "autocomplete";
@import "pagination";
@import "style";
@import "markdown_preview";