
.user_c{
  width:110px;

  padding: 0px 20px 10px 20px;
  color: #333333;
  background: #F79E0F;
}
.user_c a{
  color: #333333;
}
.user_c a:hover{
  color: #000000;
}
.recent_c{
  width:900px;

}
.news_c{
  width:150px;

}


.profile_image{

  
}

