.work_img_info{
  width:140px;
  margin-left: 20px;
}
.work_title_washl{
  width:500px;
}
.work_auth_lang{
  display:block;
  padding: 20px;
  background:#52F799;
  color: #333;
  width:120px;
 

}


.translation_fields{
 border: 1px solid #fff;
 padding: 10px;
 height:100px;
}
.translation_fields input[type="text"]{
 width: 670px;
}